button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #647b93;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Timer {
  text-align: center;
  color: rgb(23, 3, 3);
  font-size: 3rem; /* Increase the font size to make it larger */
  padding: 20px; /* Adjust the size of the square background */
  border-radius: 10px; /* Add rounded corners */
  background-color: rgb(201, 184, 158);
  background-size: 60% 60%; /* Resize the background image */
  background-position: left; /* Adjust the position of the background image */
}

.Email {
  color: rgb(23, 3, 3);
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  /*font-size: 3rem; */
}
