.emailContainer {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  max-width: 100vw;
  /* color: black; */
  padding: 0 5px 0 5px;
}

.emailItem {
  flex: 4;
  max-height: 80vh;
  overflow: auto;

  padding-left: 10px;
}

.emailItemPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emailItemPlaceholder img {
  height: 150px;
  width: 150px;
}

@media (prefers-color-scheme: light) {
  .emailContainer {
    background-color: #f0f0f0;
  }

  .emailItem {
    background-color: #f0f0f0;
  }
}
